html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url(../images//background.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 300;
	color: #4a4a4a;
	line-height: 24px;
}

a {
	text-decoration: none !important;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

ul.social-icons li {
	display: inline-block;
	margin-right: 3px;
}

ul.social-icons li:last-child {
	margin-right: 0px;
}

ul.social-icons li a {
	width: 50px;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	background-color: #eee;
	color: #121212;
	font-size: 18px;
	text-align: center;
	transition: all .3s;
}

ul.social-icons li a:hover {
	background-color: #124734;
	color: #fff;
}

a.filled-button {
	background-color: #124734;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
}

a.filled-button:hover {
	background-color: #121212;
	color: #fff;
}

.section-heading {
	text-align: left;
	margin-bottom: 30px;
	border-bottom: 1px solid #eee;
}

.section-heading h2 {
	font-size: 28px;
	font-weight: 600;
	color: #1e1e1e;
	margin-bottom: 10px;
	text-transform: uppercase;
	margin-top: 20px;
}

.products-heading {
	background-image: url(../images/products-heading.jpg);
}

.about-heading {
	background-image: url(../images/about-heading.jpg);
}

.contact-heading {
	background-image: url(../images/contact-heading.jpg);
}

.page-heading {
	padding: 210px 0px 130px 0px;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-heading .text-content h4 {
	color: #124734;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.page-heading .text-content h2 {
	color: #fff;
	font-size: 62px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

#preloader {
	overflow: hidden;
	background: #124734;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	z-index: 9999999;
	color: #fff;
}

#preloader .jumper {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	position: absolute;
	margin: auto;
	width: 50px;
	height: 50px;
}

#preloader .jumper>div {
	background-color: #fff;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	position: absolute;
	opacity: 0;
	width: 50px;
	height: 50px;
	-webkit-animation: jumper 1s 0s linear infinite;
	animation: jumper 1s 0s linear infinite;
}

#preloader .jumper>div:nth-child(2) {
	-webkit-animation-delay: 0.33333s;
	animation-delay: 0.33333s;
}

#preloader .jumper>div:nth-child(3) {
	-webkit-animation-delay: 0.66666s;
	animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	5% {
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes jumper {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	5% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}


/* Header Style */
header {
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100px;
	background-color: #eee;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

header .navbar {
	padding: 17px 0px;
}

.background-header .navbar {
	padding: 17px 0px;
}

.background-header {
	top: 0;
	position: fixed;
	background-color: #fff !important;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.background-header .navbar-brand h2 {
	color: #121212 !important;
}

.background-header .navbar-nav a.nav-link {
	color: #1e1e1e !important;
}

.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
	color: #124734 !important;
}

.navbar .navbar-brand {
	float: left;
	margin-top: -12px;
	outline: none;
}

.navbar .navbar-brand h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

.navbar .navbar-brand h2 em {
	font-style: normal;
	color: #124734;
}

#navbarResponsive {
	z-index: 999;
}

.navbar-collapse {
	text-align: center;
}

.navbar .navbar-nav .nav-item {
	margin: 0px 10px;
}

.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #333;
	transition: all 0.5s;
	margin-top: 5px;
	padding-bottom: 0;
	height: 100%;
	margin-top: 0;
	display: flex;
	align-items: center;
	padding-top: 0;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	/* color: #fff; */
	border-bottom: 3px solid #124734;
}

.navbar .navbar-toggler-icon {
	background-image: none;
}

.navbar .navbar-toggler {
	border-color: #fff;
	background-color: #fff;
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 20px;
}

.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #124734;
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}



/* Banner Style */
.banner {
	position: relative;
	text-align: center;
	padding-top: 80px;
}

.banner-item-01 {
	padding: 300px 0px;
	background-image: url(../images/slide_01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: inset 0 0 0 2000px rgb(14 14 14 / 29%);
}

.banner-item-02 {
	padding: 300px 0px;
	background-image: url(../images/slide_02.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: inset 0 0 0 2000px rgb(14 14 14 / 29%);
}

.banner-item-03 {
	padding: 300px 0px;
	background-image: url(../images/slide_03.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: inset 0 0 0 2000px rgb(14 14 14 / 29%);
}

.banner .banner-item {
	max-height: 600px;
}

.banner .text-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}

.banner .text-content h4 {
	color: #f7df39;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.banner .text-content h2 {
	color: #fff;
	font-size: 62px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.charity1-item-01 {
	padding: 100px 0px;
	background-image: url(../images/charity/book.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.charity2-item-01 {
	padding: 100px 0px;
	background-image: url(../images/charity/medical1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.charity2-item-02 {
	padding: 100px 0px;
	background-image: url(../images/charity/medical2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.charity3-item-01 {
	padding: 100px 0px;
	background-image: url(../images/charity/furniture.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.green-item-01 {
	padding: 100px 0px;
	background-image: url(../images/green/solar1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.green-item-02 {
	padding: 100px 0px;
	background-image: url(../images/green/solar2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.owl-banner .owl-dots .owl-dot {
	border-radius: 3px;
}

.owl-banner .owl-dots {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 30px;
}

.owl-banner .owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 10px;
	background-color: #fff;
	opacity: 0.5;
}

.owl-banner .owl-dots .owl-dot:focus {
	outline: none
}

.owl-banner .owl-dots .owl-dot.active {
	background-color: #fff;
	opacity: 1;
}



/* Latest Produtcs */

.latest-products {
	margin-top: 50px;
}

.latest-products .section-heading a {
	float: right;
	margin-top: -35px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	color: #124734;
}

.product-item {
	border: 1px solid #eee;
	margin-bottom: 20px;
}

.product-item .down-content {
	padding: 5px;
	position: relative;
	text-align: center;
}

.product-item .down-content a h4 {
	margin-bottom: 0;
}

.product-item img {
	width: 100%;
	overflow: hidden;
}

.product-item:hover {
	background-color: #124734;
	cursor: pointer !important;
}

.product-item .down-content h4 {
	font-size: 17px;
	color: #124734;
	margin-bottom: 20px;
}

.product-item .down-content h4:hover {
	color: #f7df39;
	cursor: pointer !important;
}

.product-item .down-content h6 {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 18px;
	color: #121212;
}

.product-item .down-content p {
	margin-bottom: 20px;
}

.product-item .down-content ul li {
	display: inline-block;
}

.product-item .down-content ul li i {
	color: #124734;
	font-size: 14px;
}

.product-item .down-content span {
	position: absolute;
	right: 30px;
	bottom: 30px;
	font-size: 13px;
	color: #124734;
	font-weight: 500;
}




/* Best Features */

.about-features {
	margin-top: 100px !important;
}

.about-features p {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

.about-features .container .row {
	padding-bottom: 0px !important;
	border-bottom: none !important;
}

.best-features {
	margin-top: 50px;
}

.best-features .container .row {
	border-bottom: 1px solid #eee;
	padding-bottom: 60px;
}

.best-features img {
	width: 100%;
	overflow: hidden;
}

.aim-img {
	text-align: center;
}

.aim-img img {
	width: 60% !important;
}

.aim-cls {
	margin: auto;
}

.quote-cls {
	margin: auto !important;
}

.quote-cls a {
	color: #f7df39;
}

.anim-header {
	display: flex;
}

.anim-header .quote-title {
	flex: 1;
	text-align: center;
	background-color: #f7df39;
	color: #124734;
	margin: auto;
}

.modal-content {
	border: none;
	background: transparent;
}

.close-requestModal {
	width: 70px;
	height: 70px;
	margin: 5px;
	display: table;
}

.close-item {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.close-item:hover {
	background-color: #f7df39;
	cursor: pointer;
}

.close-item:hover>i {
	color: #124734;
}

.close-item i {
	color: #f7df39;
}

h4 {
	font-size: 17px;
	color: #124734;
	margin-bottom: 10px;
}

.col-md-5 {
	padding: 0 80px;
}

.col-md-5 input {
	width: 100%;
	background: transparent;
	color: white;
	padding: 10px;
	border: 1px solid #f7df39;
}

.col-md-5 label {
	color: #f7df39;
	font-size: .8em;
}

.col-md-8 h5 {
	text-align: center;
	color: #f7df39;
}

.add-req {
	width: 100%;
	background: #f7df39;
	border: none;
	color: #124734;
}

.add-req:hover {
	background-color: transparent;
	border: 1px solid #f7df39;
	color: #f7df39;
	cursor: pointer;
}

.btn-close:hover {
	color: red;
	cursor: pointer;
}

.tbl-header {
	display: flex;
	border-bottom: 1px solid #f7df39;
}

.tbl-header div {
	flex: 4;
}

.tbl-header div h6 {
	color: #f7df39;
}

.col-small {
	flex: 1 !important;
}

.tbl-row {
	display: flex;
	margin: 5px 0;
}

.tbl-row.selected {
	background-color: black;
}

.tbl-row div {
	flex: 4;
	color: white;
}

.nav-link {
	margin-top: 0;
	padding: 1rem 1rem;
}

.nav-item:hover {
	background-color: #f7df39;
}

.best-features ul.featured-list li {
	display: block;
	margin-bottom: 10px;
}

.best-features p {
	margin-bottom: 25px;
}

.navbar-expand-lg {
	padding: 0 !important;
	line-height: 2 !important;
}

.best-features ul.featured-list li a {
	font-size: 14px;
	color: #4a4a4a;
	font-weight: 300;
	transition: all .3s;
	position: relative;
	padding-left: 13px;
}

.featured-list li a {
	font-size: 14px;
	color: #4a4a4a;
	font-weight: 300;
	transition: all .3s;
	position: relative;
	padding-left: 13px;
}

.best-features ul.featured-list li a:before {
	content: '';
	width: 5px;
	height: 5px;
	display: inline-block;
	background-color: #4a4a4a;
	position: absolute;
	left: 0;
	transition: all .3s;
	top: 8px;
}

.featured-list li a:before {
	content: '';
	width: 5px;
	height: 5px;
	display: inline-block;
	background-color: #4a4a4a;
	position: absolute;
	left: 0;
	transition: all .3s;
	top: 8px;
}

.best-features ul.featured-list li a:hover {
	color: #124734;
}

.best-features ul.featured-list li a:hover::before {
	background-color: #124734;
}

.best-features .filled-button {
	margin-top: 20px;
}





/* Call To Action */

.call-to-action .inner-content {
	margin-top: 60px;
	padding: 30px;
	background-color: #f7f7f7;
	border-radius: 5px;
}

.call-to-action .inner-content h4 {
	font-size: 17px;
	color: #124734;
	margin-bottom: 15px;
}

.call-to-action .inner-content em {
	font-style: normal;
	font-weight: 700;
}

.call-to-action .inner-content .col-md-4 {
	text-align: right;
}

.call-to-action .inner-content .filled-button {
	margin-top: 12px;
}




/* Footer */

footer {
	text-align: center;
}

footer .inner-content {
	border-top: 1px solid #eee;
	margin-top: 60px;
	padding: 60px 0px;
}

footer .inner-content p {
	text-transform: uppercase;
}

footer .inner-content p a {
	color: #124734;
	margin-left: 3px;
}




/* Product Page */

.products {
	margin-top: 50px;
}

.products .filters {
	text-align: center;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.products .filters li {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	color: #121212;
	display: inline-block;
	margin: 0px 10px;
	transition: all .3s;
	cursor: pointer;
}

.products .filters ul li.active,
.products .filters ul li:hover {
	color: #124734;
}

.products ul.pages {
	margin-top: 30px;
	text-align: center;
}

.products ul.pages li {
	display: inline-block;
	margin: 0px 2px;
}

.products ul.pages li a {
	width: 44px;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: 1px solid #eee;
	font-size: 15px;
	font-weight: 700;
	color: #121212;
	transition: all .3s;
}

.products ul.pages li a:hover,
.products ul.pages li.active a {
	background-color: #124734;
	border-color: #124734;
	color: #fff;
}



/* Team Members */

.team-members {
	margin-top: 50px;
}

.team-member {
	border: 1px solid #eee;
	margin-bottom: 30px;
}

.team-member img {
	width: 100%;
	overflow: hidden;
}

.team-member .down-content {
	padding: 30px;
	text-align: center;
}

.team-member .thumb-container {
	position: relative;
}

.team-member .thumb-container .hover-effect {
	position: absolute;
	background-color: rgba(243, 63, 63, 0.9);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
}

.team-member .thumb-container .hover-effect .hover-content {
	position: absolute;
	display: inline-block;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.team-member .thumb-container .hover-effect .hover-content ul.social-icons li a:hover {
	background-color: #fff;
	color: #124734;
}

.team-member:hover .hover-effect {
	visibility: visible;
	opacity: 1;
}

.team-member .down-content h4 {
	font-size: 17px;
	color: #124734;
	margin-bottom: 8px;
}

.team-member .down-content span {
	display: block;
	font-size: 13px;
	color: #124734;
	font-weight: 500;
	margin-bottom: 20px;
}




/* Services */

.services {
	background-image: url(../images/services-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0px;
}

.services .service-item {
	text-align: center;
}

.services .service-item .icon {
	background-color: #f7f7f7;
	padding: 40px;
}

.services .service-item .icon i {
	width: 100px;
	height: 100px;
	display: inline-block;
	text-align: center;
	line-height: 100px;
	background-color: #124734;
	color: #fff;
	font-size: 32px;
}

.services .service-item .down-content {
	background-color: #fff;
	padding: 40px 30px;
}

.services .service-item .down-content h4 {
	font-size: 17px;
	color: #124734;
	margin-bottom: 20px;
}

.services .service-item .down-content p {
	margin-bottom: 25px;
}




/* Clients */

.happy-clients {
	margin-top: 50px;
	margin-bottom: 40px;
}

.happy-clients .client-item img {
	max-width: 100%;
	overflow: hidden;
	transition: all .3s;
	cursor: pointer;
}

.happy-clients .client-item img:hover {
	opacity: 0.8;
}




/* Find Us */

.find-us {
	margin-top: 50px;
}

.find-us p {
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.find-us h4 {
	font-size: 17px;
	color: #124734;
	margin-bottom: 20px;
}

.find-us .left-content {
	margin-left: 30px;
}



/* Send Message */

.send-message {
	margin-top: 50px;
}

.contact-form input {
	font-size: 14px;
	width: 100%;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}

.contact-form input:focus {
	box-shadow: none;
	border: 1px solid #eee;
}

.contact-form textarea {
	font-size: 14px;
	width: 100%;
	min-width: 100%;
	min-height: 120px;
	height: 120px;
	max-height: 180px;
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}

.contact-form textarea:focus {
	box-shadow: none;
	border: 1px solid #eee;
}

.contact-form button.filled-button {
	background-color: #124734;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
	border: none;
	outline: none;
	cursor: pointer;
}

.contact-form button.filled-button:hover {
	background-color: #121212;
	color: #fff;
}

.accordion {
	margin-left: 30px;
}

.accordion a {
	cursor: pointer;
	font-size: 17px;
	color: #124734 !important;
	margin-bottom: 20px;
	transition: all .3s;
}

.accordion a:hover {
	color: #124734 !important;
}

.accordion a.active {
	color: #124734 !important;
}

.accordion li .content {
	display: none;
	margin-top: 10px;
}

.accordion li:first-child {
	border-top: 1px solid #eee;
}

.accordion li {
	border-bottom: 1px solid #eee;
	padding: 15px 0px;
}

/*----------------------------------WEB CUSTOMIZATIONS----------------------------------*/

.drop-row {
	background: white;
	padding: 0;
	text-align: center;
	width: 100%;
	position: fixed;
	left: 0px;
	height: 150px;
	transition: opacity 1s ease-out;
	opacity: 0;
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: none !important;
}

.dropdown:hover .drop-row {
	display: flex !important;
	opacity: 1;
}

.industry {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.industry h4 {
	text-align: center;
	padding: 25px 5px;
}

.industry img {
	padding: 5px;
}

.background-header {
	z-index: 100;
}

.gallery {
	margin-top: 50px;
}

.business {
	margin-top: 50px;
}

.business-img {
	margin-top: 30px;
}

.business-img div img {
	max-width: 100%;
}

.logistics {
	margin-top: 50px;
}

.owl-clients {
	margin-top: 30px;
}

.blue-colored {
	margin-top: 30px;
}

.blue-colored a img {
	width: 100%;
	padding: 5px;
}

.handicart {
	margin-top: 50px;
}

.handi-img {
	margin-top: 30px;
	display: flex;
}

.handi-img a img {
	width: 100%;
}

.handi-container {
	position: relative;
	border-radius: 10px;
}

.handi-container:hover {
	background-image: radial-gradient(red, #bf2c2c);
}

.handi-container:hover>.handi-label h4 {
	color: white;
}

.handi-label {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.handi-label h4 {
	margin: 5px;
}

.handicart h4 {
	font-size: 17px;
	color: #124734;
	margin-top: 25px;
	margin-bottom: 10px;
}

.small-heading h2 {
	font-size: 12px !important;
}

.left-aligned {
	text-align: left !important;
}

.right-aligned {
	text-align: right !important;
}

.center-aligned {
	text-align: center !important;
}

.right-bordered {
	border-right: 1px #121212 solid;
}

.with-padding-left {
	padding: 0 40px 0 0;
}

.with-padding-right {
	padding: 0 0 0 40px;
}

.margined {
	margin: auto;
}

.green-zone {
	color: #124734 !important;
}

.grid-display {
	display: grid;
}

.navbar>.container {
	max-width: 1500px !important;
}

.charity h4 {
	text-align: center;
}

.charity p {
	text-align: center;
}

.main-topic {
	padding: 25px;
}

.main-topic h1 {
	font-size: 65px;
	background-color: #124734;
	color: #f7df39;
}

.products ul.pages li:hover {
	cursor: pointer;
}

.about-header {
	padding-top: 50px;
	color: #124734;
}

.green-colored {
	background-color: #124734;
}

.green-colored a {
	color: #f7df39;
	margin: auto;
	width: 100%;
}

.green-colored h2 {
	color: #f7df39;
}

.green-colored a:hover {
	color: #124734;
	background-color: #f7df39;
}

.drop-row {
	padding: 15px;
	height: auto;
	background-color: #124734;
}

.drop-row .right-bordered {
	border-right: 1px #f7df39 solid;
}

.nav-link {
	padding-bottom: 25px;
}

#requestModal {
	background-color: #124734 !important;
	overflow-x: hidden;
}

.save-btn {
	display: flex;
	justify-content: flex-end;
	width: 70px;
	margin: 5px;
}

.save-btn:hover {
	background-color: #f7df39;
	cursor: pointer;
}

.save-btn:hover>button {
	color: #124734;
	cursor: pointer;
}

.save-btn button {
	margin: auto;
	background: none;
	border: none;
	color: #f7df39;
}

.green-center {
	margin: auto;
}

.save-confirm {
	position: absolute;
	right: 0;
	top: 70px;
	width: 300px;
	height: 150px;
	background: #f7df39;
	z-index: 999;
	color: #124734;
	text-align: center;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.save-skin {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: #00000082;
}

.save-skin.inactive {
	display: none;
}

.save-btn-container button {
	background: #124734;
	color: #f7df39;
}

.hoverable:hover {
	box-shadow: 0px 0px 20px 0px #d4d4d4;
}

.owl-stage {
	display: flex;
	align-items: center;
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.details-title {
	margin: 0;
	font-weight: bold;
	color: #124734;
	font-size: 18px;
	line-height: 20px;
}

.details-sub {
	margin: 0;
	color: #124734;
	font-style: italic;
	line-height: 20px;
	font-size: 12px;
}

.navbar-expand-lg .navbar-nav {
	height: 100%;
}

.established {
	width: auto;
	max-height: 20vh;
}

.employee {
	display:flex;
	justify-content:center;
	width:70%;
	flex-direction:column;
}

.employee-name {
	padding: 5px 10px;
	color: #f7df39;
	background:#124734;
	width:100%;
	margin:0;
}

.employee-service {
	color: #124734;
	font-size:14px; 
	margin-bottom: 5px; 
	margin-top: 5px;
}

.employee-description {
	padding: 0;
	margin: 0;
	color: #124734;
	font-size:12px;
	line-height:15px;
}

.top {
	padding-top: 80px;
}


/*----------------------------------RESPONSIVE CUSTOMIZATIONS----------------------------------*/

/* Responsive Style */
@media (max-width: 768px) {

	.drop-row {
		display: none !important;
	}
	
	.dropdown:hover .drop-row {
		display: none !important;
	}

	.banner .text-content {
		width: 90%;
		margin-left: 5%;
	}

	.banner .text-content h4 {
		font-size: 22px;
	}

	.banner .text-content h2 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}

	.banner-item-01,
	.banner-item-02,
	.banner-item-03 {
		padding: 180px 0px;
	}

	.page-heading .text-content h4 {
		font-size: 22px;
	}

	.page-heading .text-content h2 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}

	.latest-products .section-heading a {
		float: none;
		margin-top: 0px;
		display: block;
		margin-bottom: 20px;
	}

	.product-item .down-content h4 {
		margin-bottom: 20px !important;
	}

	.product-item .down-content h6 {
		position: absolute !important;
		top: 30px !important;
		right: 30px !important;
	}

	.product-item .down-content span {
		position: absolute !important;
		right: 30px !important;
		bottom: 30px !important;
	}

	.best-features .left-content {
		margin-bottom: 30px;
	}

	.call-to-action .inner-content {
		text-align: center;
	}

	.call-to-action .inner-content .filled-button {
		text-align: center;
		width: 100%;
		margin-top: 20px;
	}

	.about-features img {
		margin-bottom: 30px;
	}

	.service-item {
		margin-bottom: 30px;
	}

	.find-us #map {
		margin-bottom: 30px;
	}

	.find-us .left-content {
		margin-left: 0px;
	}

	.send-message .accordion {
		margin-top: 30px;
		margin-left: 0px;
	}
}

@media (max-width: 1030px) {

	.navbar .navbar-nav .nav-item {
		margin: 0px 5px;
	}

	.navbar .navbar-nav a.nav-link {
		font-size: 12px;
	}

	.details-title {
		font-size: 15px;
	}

	.details-sub {
		font-size: 10px;
	}
}

@media (max-width: 992px) {
	.navbar .navbar-brand {
		position: absolute;
		left: 30px;
		top: 32px;
	}

	.navbar .navbar-brand {
		width: auto;
	}

	.navbar:after {
		display: none;
	}

	#navbarResponsive {
		z-index: 99999;
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		text-align: center;
		background-color: #fff;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	}

	.navbar .navbar-nav .nav-item {
		border-bottom: 1px solid #eee;
	}

	.navbar .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}

	.navbar .navbar-nav a.nav-link {
		padding: 15px 0px;
		color: #1e1e1e !important;
	}

	.navbar .navbar-nav .nav-link:hover,
	.navbar .navbar-nav .nav-link.show,
	.navbar .navbar-nav .show>.nav-link {
		color: #124734 !important;
		border-bottom: none !important;
		padding-bottom: 15px;
	}

	.product-item .down-content h4 {
		margin-bottom: 10px;
	}

	.product-item .down-content h6 {
		position: relative;
		top: 0;
		right: 0;
		margin-bottom: 20px;
	}

	.product-item .down-content span {
		position: relative;
		right: 0;
		bottom: 0;
	}

	.details {
		display: none;
	}
}

@media (min-width: 1700px) {
	.navbar>.container {
		max-width: 90% !important;
	}

	.container {
		max-width: 90% !important;
	}

	header {
		height: 130px;
	}

	.navbar .navbar-nav a.nav-link {
		font-size: 1.5rem;
	}

	.details-title {
		font-size: 2.5rem;
		line-height: 2.5rem;
	}

	.details-sub {
		line-height: 1.8rem;
		font-size: 1.5rem;
	}

	.banner {
		padding-top: 7.9vh;
	}

	p {
		font-size: 1.2rem !important;
		line-height: 2rem;
	}

	h4 {
		font-size: 2rem;
	}

	.right-image {
		display: flex;
		align-items: center;
	}

	.featured-list li a {
		font-size: 1.2rem;
	}

	.aim-img {
		justify-content: center;
	}

	.product-item .down-content h4 {
		font-size: 1.5rem;
		padding: 15px;
	}

	.products .filters li {
		font-size: 1.2rem;
	}

	h6 {
		font-size: 1.4rem;
	}

	.products ul.pages li a {
		font-size: 1.3rem;
	}

	.find-us h4 {
		font-size: 1.5rem;
	}

	.handicart h4 {
		font-size: 1.5rem;
	}

	address {
		font-size: 1.3rem;
	}

	.established {
		max-height: 10vh;
	}

	.employee-description {
		line-height: 1.5rem;
	}

	.employee-service {
		font-size: 2rem;
	}

	.top {
		padding-top: 140px;
	}
}